

/*Total*/
body {
  background: rgba(59, 46, 190, 0.89);

}




/*Header*/

a {
  text-decoration: none;
}

div.allLogos {
  display: flex;
  /*text-align: center;*/
  justify-content: space-between;
}

.card {
  text-align: center;
}

.shadow {
  box-shadow: -4px 6px 19px #000000;
}


.header {
  min-width: dev;
  background: rgb(255, 45, 126);
}

.logo {
  font-size: 1.70em;
  color: #311D59;
}


i#twitterLogo:hover {
  color : #1DA1F2;
}

i#facebookLogo:hover {
  color : #45629D;
}

i#githubLogo:hover {
  color : black;
}

i#mailLogo:hover {
  color: rgb(255, 214, 41);
}





/*Container*/

.card {
  background-color: white;
  margin-top: 10%;
}

h2 {
    font-family: 'Graduate', cursive;
    font-size: 50px;
}

/*Footer*/


.footer {
  margin-top: 10em;
  background-color: #5044C5;
  text-align: center;
}

.col {
  text-align: center
}