

/*Total*/
body {
  background: rgba(59, 46, 190, 0.89);
  max-width: 100%;
  margin: auto;

}




/*Header*/

a {
  text-decoration: none;
}

div.allLogos {
  display: flex;
  /*text-align: center;*/
  justify-content: space-between;
}

.allLogos , .container {
  text-align: center;
}

.shadow {
  box-shadow: -4px 6px 19px #000000;
}


.header {
  min-width: dev;
  background: rgb(255, 45, 126);
}

.logo {
  font-size: 6em;
  color: #311D59;
}

.logoContainer {
  margin:   1%;
}

i#twitterLogo:hover {
  color : #1DA1F2;
}

i#facebookLogo:hover {
  color : #45629D;
}

i#githubLogo:hover {
  color : black;
}

i#mailLogo:hover {
  color: rgb(255, 214, 41);
}

i#githubLogo:hover, i#mailLogo:hover, i#facebookLogo:hover, i#twitterLogo:hover {

}


img.logo:hover {
    background-color: white;
}

span.logoContainer {
  margin-right: inherit;
}


/*Container*/

.container {
  background-color: white;
  margin-top: 10%;
}
h2 {
    font-family: 'Graduate', cursive;
    font-size: 8em;
}
.paddingAdding {
  padding-left: 10%;
  padding-right: 10%;
}

/*Footer*/


.footer {
  margin-top: 10em;
  background-color: #5044C5;
  text-align: center;
}
