<div class="heading-container">
  <div class="header-logo">
    Lambi Kathas
  </div>
  <div class="contact">
    <div class="twitter-social-media">
      twitter
    </div>
    <div class="youtube-social-media">
      youtube
    </div>
    <div class="linkedin-social-media">
      linkedin
    </div>
    <div class="angel-social-media">
      angel.co
    </div>
  </div>
</div>

<markdown [src]="'/app/blog/test.md'"></markdown>
<markdown>
  Using component with static `python` code block
</markdown>
<!-- <markdown>{{ demoPython | language: 'python' }}</markdown> -->

<div class="blog-container">
  <div class="blog-title">
    {{titleChars}}
  </div>
  <div class="timestamp">
    {{timestamp}}
  </div>
  <div class="blog-content-container">
    <div>
      <div class="string bottom-reading-gap-2">
        Sir,
      </div>

      <div class="string buttom-reading-gap-1">
        I have been a student of JECRC University since the last 2 years. I am currently enrolled in Bachelor’s of
        Technology in Computer Science. And after 2 years of pure dedication, I am dropping out of your university.
      </div>

      <div class="bold bottom-reading-gap-2">
        Why?
      </div>

      <div class="bold bottom-reading-gap-1">
        Because my family had high expectations from me and I had high expectations from you.
      </div>

      <div class="bold bottom-reading-gap-2">
        Where did you fall short?
      </div>

      <div class="bottom-reading-gap-1">
        I will guide you through my journey.
      </div>

      <div class="bottom-reading-gap-1">
        On the first day of my college I was bombarded with big words like Software Development, Android Development,
        Operating Systems, Web Development, Hacking, I thought after 4 years of my study I will easily be able to do any
        of these things.
      </div>

      <div class="bottom-reading-gap-1">
        And that’s the simple truth why I joined your college I did not join it for a degree, I joined it to learn these
        things. To be honest, I fell for your Ph.D. faculty in the beginning, I thought they know everything. In the first
        year of my college, I was taught subjects that were totally irrelevant to my field of study, I was taught subjects
        like Economics, Law, English, Physics, Chemistry, Maths; subjects I already had enough exposure to, since I was
        learning them since my school days. But education is built upon trust so I believed that whoever has made this
        curriculum must know that it is useful in someway in the future.
      </div>

      <div class="bottom-reading-gap-1">
        I was very eager to get into the second year of the college as I was very eager to learn the 4–5 topics that I
        mentioned earlier. I completed the first year with a bang.
      </div>

      <div>
              Then comes the second year of college or the second half of my college life. I asked my friend to send me the
              time-table, so that I could have a look at the subjects that will be taught in the semester. He sent me a picture
              of the time table, I was delighted to finally see a bunch of computer science related subjects. That time table
              brought smile on my face! And I got back to the University as soon as I could because I did not want to miss any
              of the action related to computers from your faculty. The course started, after the first month or so I realized
              that Computer Science Engineering was missing Computer, Science and Engineering. Your Ph.D. faculty knew nothing
              about computers. What they were teaching was something that I already knew when I was in 10th standard. I came to
              know that I am stuck. I was demotivated, I was sad about the fact that I trusted your faculty, I had established a
              strong relationship with your university in the meantime, and I was possessive about it, and it was all in vain in
              just a month. I realized the fact that I have to do everything on my own as teachers in my college did not even
              know how to write a simple basic program. I went to my hostel room and started studying everything by myself. This
              continued for some days. When I would ask your teachers for help they would ignore me, because of the fact that
              they did not know how to do it, I was even much more demotivated by this. I realized if teachers don’t teach
              something useful and that too in the worst possible way and on top of that they don’t even help me then why am I
              going to classes? I decided not to attend classes, as I was wasting my time and my family’s money by just sitting
              there without any productivity.
      </div>

      <div class="bottom-reading-gap-1">
        4 months later today, I am detained in all the subjects and I am restricted to appear in any of the examination. I
        am happy, like I was happy to see the time table in the starting. I am happy because I could study whatever I want
        to, and I am not cramming a piece of paper day and night, rather than that I am working on projects, that really
        matter to me. I am learning how to build things, I am learning to make things efficiently. I am learning what
        really matters to me. I am not learning for a piece of paper, that I will get after 4 years of frustration, or
        some people call it graduation. I am learning for education, to make myself skilled, to make myself employable, or
        even in the worst case scenario if I don’t get employed somewhere I can do something of my own. I don’t want to be
        dependent. I want to be on my own. When I told teachers that I am dropping out they would argue that even in IITs
        it is the same case, they teach the same syllabus that we do. Well IITs have well qualified staff and when they
        teach they attract students. I have enrolled in many courses offered by IITs and I have seen the difference
        between IIT and JECRC. Please don’t compare IIT with this university yet.
      </div>

      <div class="bottom-reading-gap-1">
        But yes education in Computer Science is not upto the mark in most of the colleges in India.
      </div>

      <div class="bottom-reading-gap-1">
        Whom to blame? Syllabus? Can’t blame it, as JECRC University is autonomous institute, they have right to set their
        own syllabus. Now whom to blame? I would blame the unwilling behaviour of the college authority and the norms set
        by UGC and past HRD ministries. In education you have to think about things that are coming up in the future, you
        have to teach the students about the uncertain future. But ironically the syllabus is almost 40 years old now,
        which is totally irrelevant in modern context, and in your microsoft labs the technology used in the labs is at
        least 20 years old. Students don’t know how to use a basic framework, how will they make a software? Leave that,
        students don’t even know how to output “Hello world!” on the screen.
      </div>

      <div class="bottom-reading-gap-1">
        It would be very sick of me if I would just criticize the way you are working. So here are some problems that I
        faced and some suggestions that could be implemented for the problems. I am just talking about Computer Science
        Branch.
      </div>

      <div class="bottom-reading-gap-1">
        Motivate your students.
        Even though your university is brand new but you need to update the technologies that are being used in the
        college. It’s high time that we move onto the newer things like Javascript or Python. Or if you want to stick to
        C++ then please update the version to C++ 11. The C++ we are working on in our labs is a version made in 1990s and
        hardly any open source software use it.
        Teach how to use external libraries and frameworks. Nobody likes to write 1000 lines of code when you can do it in
        10–15 lines using an external library or framework.
        Teach students how to implement things in classes using a computer attached to a projector, and let students work
        on projects in labs based on what you taught in class.
      </div>

      <div>
        Make course website for all the courses that are being offered in the university. Like this one
        http://web.stanford.edu/class/cs106b/
        Use online forums for class discussion like Piazza.
        Assignments must be productive, it should not be about filling copy pages. It should be about practically working
        on something.
        Scrap final exams. Instead ask students to work on projects and asses their grade based on how well they did in
        the final project.
        Teach how to use tools like Git and Github, testing frameworks and IDE in software engineering, it is not a
        theoretical subject. Same goes for other subjects. Teach skills.
        Make big lecture halls, lecture halls that could accommodate 600 people. There is no point of hiring 6–7 different
        unskilled teachers to teach the same thing, rather than that, hire just one teacher in a subject who knows the
        subject to the absolute core and who know how to teach.
        Make attendance non-compulsory until and unless you have good teachers, students are scared of authority but I
        ain’t, so let me tell you, they always criticize you for this.
        Classes are for sharing knowledge, it is not for dictating notes. 60–70% of the time in most of the classes is
        spent only on dictating notes and filling copies. I never believed in writing notes and I used to practice this
        since I was in school. I never wrote notes until I was forced to or I felt that it is something useful. Students
        here pay enough tuition fee that you could provide us with handouts for the lecture. Or even a .pdf file will work
        out pretty well. In the time you get during the lecture, implement programs or do things practically and let
        students see the beauty of computers.
        Appoint TAs (teacher assistant) from the students who already had studied the subject and did it with excellency.
        I would love to be a TA for OOPs and Intro to C Programming and Data Structure and Algorithms.
        Never argue that Indian Universities do not work like the way I want it to be. Indian community is based on many
        old beliefs that we need to overcome now, in order to develop wholly.
        I don’t know why some of your teachers have so much egoistic problems. They just can’t get the fact that they are
        wrong.
      </div>

      A teacher put a semicolon just after
      <div class="inline-codeblock">
        void main ()
      </div>
      and when told by the students that it is wrong she argued that
      it is right for 15 minutes on this.
      Another teacher argued that he does not refer Indian authors when he was proved wrong by an Indian author’s book
      and let me tell you the book was right!
      A teacher got troubled during practical examination when a student’s code was working when he was using variable
      names as x and y instead of i and j. And she asked him, how the code is working when he is not using i and j and
      the student instead of arguing and wasting time, changed the variable’s name to i and j.

      So make sensible decision before hiring a teacher, remember that teachers build future and we don’t care whether
      they are XII pass-out or IIT pass-out until and unless they teach well.

      Let students strive for education and not for a degree. Degree should be the last thing that should come to
      someone’s mind.
      Educate students about what they are learning how it is applicable in the real world. Nobody wants to learn
      something of no use.
      Join Skill India Movement and use your asset, the students, that you have and do something productive, skills is
      what separates an engineer and a clerk. Students are creative, and they are the new you. They hold the capability
      of inspiring whole nation but they can’t do it without skills.
      Stop snatching students parents’ money, if a router get stolen in a hostel don’t just simply impose 200rs. fine on
      every student and grab 35,000rs. for a 1,200rs. router. Instead install surveillance cameras and hire watchman for
      every floor and claim them responsible. We are not your watchmen that we will take care of your routers.
      Internet is very important nowadays. It has good as well as bad aspect but look at the bright side and provide
      good internet services in the hostels. At least 2 MBPS should be the internet speed. Charge 5000rs more but do
      this with immediate effect. I have a video conference coming up and I have internet with a speed of 50 KBPS in
      which I will do ‘babaji ka thullu’. (Update : Because of the high speed internet (50KBPS) I could not attend the
      conference)
      Instead of giving classes for MBA it would be much more sensible to tie up with an institute that would teach
      Computer Science and its fundamentals. They already have great hand-picked teachers with them.
      Stop scaring students that they won’t be allowed to sit in placement session if they don’t do this or that.
      Support me if I join politics.

      I have vested interest in education, as a matter of fact I come from a family who has a school of their own. I am
      against this education system since I got into high school. Why study Physics, Chemistry, Maths for the entrance
      test when all you have to do is study Computer Science Engineering in a college and you know it is your ‘kick’, I
      am not saying that these subjects are not important but except maths nothing is important in Computer Science
      Engineering. Why not rank students based on interest in particular field when they appear for a particular
      college? Why not someone who always wanted to learn how machine works not taught how machine works during school,
      why when I loved computers in school I was forced to study chemistry? By doing this education system is killing
      the creative capability that we posses.

      Skills are much more important than a degree. Education is about education, it is not about a degree.

      Why not you initiate the change? You hold a prominent position in Indian society, why not you take good decisions
      for the betterment of the community as well as the students you are serving? Why Prime Minister Narendra Modi is
      running skill India movement and why we are allotting degrees in an unskilled manner and ensuring that the
      students don’t get good jobs?

      <div class="quote">
        <div class="quote-content">
          “Be the change that you wish to see in the world.”
        </div>
        <div class="quote-author">
          ― Mahatma Gandhi
        </div>

      </div>

      I am the change, are you?
    </div>
  </div>
</div>
