<div class="heading-container">
  <div class="header-logo">
    Lambi Kathas
  </div>
  <div class="contact">
    <a href="https://www.youtube.com/c/RhitikBhatt/featured" target="_blank">
      <fa-icon [icon]="faYoutube" class="youtube-icon icon"></fa-icon>
    </a>
    <a href="https://twitter.com/lambainsaan" target="_blank">
      <fa-icon [icon]="faTwitter" class="twitter-icon icon"></fa-icon>
    </a>
    <a href="https://angel.co/u/lambainsaan" target="_blank">
      <fa-icon [icon]="faAngellist" class="angellist-icon icon"></fa-icon>
    </a>
    <a href="https://github.com/lambainsaan/" target="_blank">
      <fa-icon [icon]="faGithub" class="github-icon icon"></fa-icon>
    </a>
    <a href="https://www.instagram.com/lambainsaan_/" target="_blank">
      <fa-icon [icon]="faInstagram" class="instagram-icon icon"></fa-icon>
    </a>
  </div>
</div>

<div class="blog-container">
  <div class="blog-title">
  </div>
  <div class="timestamp">
  </div>
  <markdown [src]="blogMdFile">
  </markdown>

  <hr class="outro-content-hr">

  <div class="outro-container">
    <div class="outro">
      <div>
        Hey hey hi there! Rhitik here. 👋🏼
      </div>

      <div>
        Did you like what you just read?
      </div>

      <div>
        <a href="mailto:rhitikbhatt@gmail.com">
          Why not send me a note about it?</a> I like appreciation. 😂 You can also buy me a coffee or send me
        bitc🤑ins.
      </div>

      <div>
        Also, if you didn't like it let me know how I can get better. 😀 That's what we all strive for.
      </div>
    </div>
    <div class="donation-buttons">
      <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet"><a class="bmc-button" target="_blank"
        href="https://www.buymeacoffee.com/lambainsaan"><img
          src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Buy me a coffee"><span
          style="margin-left:5px;font-size:24px !important;">Buy me a coffee</span></a>
      <div>
        <a class="donate-with-crypto"
          href="https://commerce.coinbase.com/checkout/7d671661-0438-40d2-bdb5-9689ff98b497">
          <fa-icon [icon]="faBitcoin" class="bitcoin-icon"></fa-icon>
          Donate with Crypto
        </a>
        <script src="https://commerce.coinbase.com/v1/checkout.js?version=201807">
        </script>
      </div>
    </div>
  </div>
</div>
