<div class="container-fluid no-gutters">
    <div class="row header shadow align-items-start">
        <!-- Twitter -->
        <div class="col col-centered">
            <a target="_blank" href="https://twitter.com/LambaInsaan">
                <i class="fa fa-twitter logo" id="twitterLogo"></i>
            </a>
        </div>

        <!-- Facebook -->

        <div class="col">
            <a target="_blank" href="https://www.facebook.com/profile.php?id=100000545047114">
                <!-- <img class="logo" src="images/facebook-black-logo-6.png" alt="Facebook Profile" /> -->
                <i class="fa fa-facebook-official logo" id="facebookLogo"></i>
            </a>
        </div>

        <!-- Github -->

        <div class="col">
            <a target="_blank" href="https://github.com/lambainsaan">
                <!-- <img class="logo" src="images/github.png" alt="Github Profile" /> -->
                <i class="fa fa-github logo" id="githubLogo"></i>
            </a>
        </div>

        <!-- Email -->

        <div class="col">
            <a target="_blank" href="mailto:lambainsaan@gmail.com?Subject=Hey">
                <!-- <img class="logo" src="images/email.png" alt="Email Address" /> -->
                <i class="fa fa-envelope logo" id="mailLogo"></i>
            </a>
        </div>
    </div>



    <!-- Content -->
    <div class="container shadow card">
        <h2>
        Hello!
        </h2>
        <div>Welcome to LambaLand!</div>
    </div>



    <!-- Footer -->
    <div class="footer">
        <h3>
        <!-- Nothing to copyright. -->
        </h3>
    </div>
</div>
