<div class="page-wrapper">
  <div class="top-nav-bar">
    <h1 >
      {{navbarHeading}}
    </h1>
    <!-- <div class="mode-switcher">
      <div class="left-side-switcher">
        <i class="uil uil-sun"></i>
      </div>
      <mat-slide-toggle
      [formControl]="ctrl">
      </mat-slide-toggle>
      <div class="right-side-switcher">
        <i class="uil uil-moon"></i>
      </div>
    </div> -->
  </div>
  <div class="content-block-wrapper">
    <div class="content-block">
      <div class="content-block-child md:flex flex-col md:flex-row">
        <app-sidebar class="w-full md:w-40 h-full"></app-sidebar>

        <div class="content-block ">
          <router-outlet *ngIf="!markdown"></router-outlet>
          <div class="mt-8 flex justify-center">
            Made with ❤️ by Rhitik.
          </div>
      </div>
      </div>
    </div>

  </div>
</div>
