<div>
  <div>
    <h1>
      Newsletter
    </h1>
    <div class="form-newsletter-subscribe">
      <form class="example-form">
        <input type="text">
      </form>
    </div>
    <div class="previous-editions-section">
      <h2>
        Previous Editions
      </h2>
      <div class="arrows-container">
        <div class="left-arrow">
          <img src="../../assets/arrow-left.svg" alt="">
        </div>
        <div class="right-arrow">
          <img src="../../assets/arrow-right.svg" alt="">
        </div>
      </div>
    </div>
  </div>

</div>
